.container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.text {
  margin-left: 0.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--heading-font-color);
}
