.page {
  height: 100vh;
  background-color: var(--bg-color);

  display: flex;
}

.left-column,
.right-column {
  width: 50%;
  height: 100%;
}

.left-column {
  padding: 0.3rem;
}

.right-column {
  row-gap: 1.2rem;
  padding-bottom: 5rem;
}

.right-column,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-header {
  color: var(--font-color);
  font-family: var(--headint-font);
  font-size: 2rem;
}

.form {
  width: 60%;
  row-gap: 1rem;
}

.form input {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 6px;
}

.register-text {
  align-self: flex-end;
  padding-block: 0.7rem;
}

.register-link {
  cursor: pointer;
  color: var(--accent-secondary);
  font-weight: 500;
}

.submit-btn {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--accent-primary);
  color: var(--font-color-on-accent);
  border-radius: 6px;
}

.submit-btn:hover {
  background-color: hsl(var(--accent-primary-hue), var(--accent-primary-saturation), calc(var(--accent-primary-lightness) + 3%));
}

.login-error {
  color: var(--danger-color);
  font-size: 1.1rem;
}

.book-showcase {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  --gradient-temp-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) + 20%));
  background: linear-gradient(to bottom right, var(--accent), var(--gradient-temp-color));
}
