.login {
  height: 100vh;
  background-color: var(--bg-color-primary);
  /*background: var(--bg-color-primary-gradient);*/
  display: flex;
}

.left-column,
.right-column {
  width: 50%;
  height: 100%;
}

.left-column {
  padding: 0.3rem;
}

.right-column {
  row-gap: 1.2rem;
  padding-bottom: 5rem;
}

.right-column,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-header {
  color: var(--heading-font-color);
  font-family: var(--heading-font);
  font-size: 2rem;
}

.form {
  width: 60%;
  row-gap: 1rem;
}

.register-text {
  align-self: flex-end;
  padding-block: 0.7rem;
}

.register-link {
  cursor: pointer;
  color: var(--accent-secondary);
  font-weight: 500;
}

.register-link:hover {
  color: var(--accent-secondary-hover);
}

.login-error {
  color: var(--danger-color);
  font-size: 1.1rem;
}

.book-showcase {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}
