.page {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--bg-color-secondary),
    var(--bg-color-primary)
  );
}

.nav {
  height: 90px;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 10000;
  transition: box-shadow 0.3s;
}

.nav.fixed {
  box-shadow: 0 1px 2px var(--shadow-color-small);
}

.nav-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container:first-child {
  padding-left: 6rem;
}

.nav-container:last-child {
  padding-right: 6rem;
}

.nav-right-side > * {
  margin-right: 2rem;
}

.nav-right-side-href {
  text-decoration: none;
  font-size: 1.05rem;
  color: var(--text-font-color-secondary);
  transition: color 0.3s;
}

.nav-right-side-href:hover {
  color: var(--primary-color);
}

.nav-login-btn {
  padding-inline: 1.1rem;
  padding-block: 0.5rem;
}

.hero {
  margin-top: 4rem;
  width: 100%;
  background: var(--bg-color-primary);
  display: flex;
  align-items: center;
}
.hero > * {
  width: 50%;
}

.hero-wrapper {
  width: 100%;
  margin: 0 auto;
}

.hero-shape {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  height: 100%;
  width: 12rem;
  color: var(--bg-color-primary);
}

.hero-content {
  padding: 5rem 2rem 0 2rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content > * {
  width: 50%;
}

.hero-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--heading-font-color);
}

.hero-title-accent {
  color: #2563eb;
}

.hero-description {
  margin-top: 0.75rem;
  color: #6b7280;
  font-size: 1.25rem;
}

.hero-buttons {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.features-section {
  padding: 3rem 1rem;
  background: #ffffff;
  text-align: center;
}

.features-container {
  max-width: 900px;
  margin: 0 auto;
}

.features-header {
  margin-bottom: 2rem;
}

.features-subtitle {
  color: #2563eb;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.features-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.features-description {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.feature-item {
  padding: 1.5rem;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2563eb;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.feature-icon {
  font-size: 1.5rem;
}

.feature-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.feature-text {
  font-size: 1rem;
  color: #555;
  margin-top: 0.5rem;
}
