.home {
  height: 100vh;
  background-color: var(--bg-color-primary);
}

.header {
  width: 100%;
  height: 16.5%;
}

.header__first-row {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__second-row {
  border-block: 1px solid var(--border-color);
}

.header__first-row__right-side {
  position: absolute;
  top: 0;
  right: 3rem;
  display: flex;
  justify-content: flex-end;
}

.account-menu-container {
}

.account-menu {
}

.header__first-row__right-side {
  padding-top: 0.7rem;
}

.book-row {
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.book-row img {
  width: 10%;
}

.book-row__authors {
  font-size: 0.7rem;
}

.book-row__title {
  font-size: 1rem;
  color: var(--heading-font-color);
}

/* BOOK SHOWCASE */

.book-showcase {
  padding: 4rem 0;
  margin-bottom: 4rem;
}

.book-showcase-content {
  display: flex;
  gap: 4rem;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.book-showcase-content.transitioning {
  opacity: 0;
  transform: translateX(-20px);
}

.book-showcase-cover {
  padding-top: 140%;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.book-showcase-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-showcase-info {
  padding: 1.2rem;
}

.book-showcase-info h2 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.book-showcase-info h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.book-showcase-info p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.book-showcase-indicators {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2.2rem;
}

.indicator {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--accent-secondary);
  padding: 0;
  transition: all 0.3s ease;
}

.indicator.active {
  background-color: var(--accent-secondary);
  transform: scale(1.2);
}
