.container {
  --icon-color: inherit;
  --border-color: var(--input-border-color);

  border: 1px solid var(--border-color);
  position: relative;
  background-color: inherit;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
}

.container:focus-within {
  outline: 1px solid var(--border-color);
}

.container:hover:not(:focus-within) {
  border-color: var(--input-border-color-hover);
}

.container,
.input {
  border-radius: var(--radius-small);
}

.start-icon,
.end-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.start-icon > *,
.end-icon > * {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}

.start-icon {
  left: 0.6rem;
}

.end-icon {
  right: 1rem;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0.9rem 1rem;
  background-color: inherit;
}

.container.primary:focus-within {
  --icon-color: var(--primary-color);
  --border-color: var(--primary-color);
}

.container:not(:focus-within) {
  --input-accent-color: var(--border-color-primary);
  --icon-color: inherit;
}

.container:has(.start-icon) {
  padding-left: 1.5rem;
}

.container:has(.end-icon) {
  padding-right: 2rem;
}
