.button {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.loading,
.disabled {
  cursor: default;
}

.contained.primary {
  background-color: var(--primary-color);
}

.contained.primary:hover {
  background-color: var(--primary-color-dark);
}

.contained.primary-light {
  background-color: var(--primary-color-light);
  color: var(--primary-color-dark);
}

.contained.primary-light:hover {
  background-color: var(--primary-color-light-hover);
}

.contained {
  color: var(--primary-color-contrast-text);
  transition-property: background-color;
}

.outlined {
  background-color: transparent;
  transition-property: border-color;
}

.outlined.primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.outlined.primary:hover {
  border-color: var(--primary-color-dark);
  color: var(--primary-color-dark);
}
