:root {
  --bg-color-primary: hsl(51, 23%, 94%);
  --bg-color-secondary: hsl(0, 0%, 95%);

  --bg-color-primary-gradient: linear-gradient(
    to bottom right,
    hsl(51, 23%, 94%),
    hsl(51, 23%, 97%)
  );

}
