.form,
.form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.form {
  width: 70%;
}
.form-header {
  font-size: 2rem;
}

.form-fields > *,
.submit-btn {
  width: 100%;
}

.register-text {
  align-self: flex-end;
  padding-block: 0.7rem;
}

.register-link {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 500;
}

.register-link:hover {
  color: var(--primary-color-dark);
}

.login-error {
  color: var(--error-color);
  font-size: 1.1rem;
}
